html, body{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: linear-gradient(to bottom right, dodgerblue, lightskyblue);
}
.top{
    width: 100%;
    margin: auto;
    text-align: center;
}
.top > h1{
    color: white;
}
.top > h2{
    color: lightgray;
}